/* DONATION CSS */
.donation-home {
    background: #ffffff;
    text-align: center;
    height: 100vmax;
}

.donation-title {
    display: inline-block;
    margin-bottom: 30px;
}

/* CSS for the progress bar */
.donation-progress {
    background: #d3455b;
    height: 7px;
    border-radius: 50px;
}

.outside-progress {
    background: lightgray;
    margin: 0px 10px;
    border-radius: 25px;
}

/* No Kid Hungry CSS */
.nkh {
    background: #f7f9fa;
    margin-bottom: 30px;
    display: inline-block;
    height: 50vmax;
    width: 50vmax;
}

.donation-name {
    float: left;
    margin: 10px;
}

.charity-dropdown {
    margin: 15px;
    width: 45vmax;
}

.nkd-amount-donated {
    float: left;
    font-size: 16px;
    background:white;
}

#nkd-progress {
    width: 25%;
}

.charity-logo {
    width: 45vmax;
    height: 10em;
    margin: 10px 0px;
}

/* Ronald McDonald CSS */

.rmd {
    background: #f7f9fa;
    display: inline-block;
}

#rmd-progress {
    width: 55%;
}

/*Dropdown menu css*/

#dropdown-basic-button {
    background: #f7f9fa;
    border: none;

}

#dropdown-menu-align-right{
    float:right;
    margin-top: 14px;
}

#dropdown-menu {
    background:white;   
    border: 1px solid lightgrey;
}

.dropdown{
    display: inline-block;
}