* {
    padding: 0px;
    margin: 0px;
}



/* DONATION CSS */
.donation-home {
    background: #ffffff;
    text-align: center;
    height: 100vmax;
}

.donation-title {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

/* CSS for the progress bar */
.donation-progress {
    background: #d3455b;
    height: 7px;
    border-radius: 50px;
}

.outside-progress {
    background: lightgray;
    margin: 0px 10px;
    border-radius: 25px;
    
 
}

/* No Kid Hungry CSS */
.nkh {
    background: #f7f9fa;
    margin-bottom: 30px;
    display: inline-block;
    height: 50vmax;
    width: 100%;
    background-color: rgb(241, 241, 241);

}
.donation-name {
    float: left;
    margin: 10px;
}

.charity-dropdown {
    margin: 15px;
    width: 45vmax;
   
}

.nkd-amount-donated {
    float: left;
    font-size: 16px;
}

#nkd-progress {
    width: 25%;
}

.charity-logo {
    width: 40vmax;
    height: 10em;
    margin: 10px 0px;
    margin-left: -9%;
    
}

/* Ronald McDonald CSS */

.rmd {
    background: #f7f9fa;
    display: inline-block;
    width: 100%;
    height:auto;
}

#rmd-progress {
    width: 55%;
}

/*Dropdown menu css*/

#dropdown-basic-button {
    background: rgb(241, 241, 241);
    border: none;
    margin-right: 15px;

}

#dropdown-menu-align-right{
    float:right;
}

#dropdown-menu {
    background: whitesmoke;    
    border: 1px solid lightgrey;
    width: 45vmax;
    text-align: left;
    float: left;
}

.dropdown{
    display: inline-block;

}

.dd-item {
    text-decoration: none;
    border: none;
    background-color: whitesmoke;
    width: 90%;
    margin: 10px 5px;
    text-align: left;
    margin-left: 15px;
}

.dd-divider {
    border: .5px solid lightgrey;
    margin: 10px 0px;
    width: 45vmax;
}

.dd-item:hover {
    background-color: #f8f9fa;
}

#dd-delete {
    color: red;
}